.About {
    width: auto;
    height: 100vh;
    background-image: url('https://res.cloudinary.com/imagist/image/fetch/q_auto,f_auto,c_scale,w_2240/https%3A%2F%2Ftodoist.com%2F_next%2Fstatic%2Fimages%2Fbackground-illustration_31391123ca7b512e5c7a8dce6195b0b3.png');
}

.para {
    font-size: larger;
    text-align: justify;
    text-justify: inter-word;
}


.text-center {
    margin-top: -50px;
}

.para2 {
    font-size: larger;
    text-align: justify;
    text-justify: inter-word;
}

.para3 {
    font-size: larger;
    text-align: justify;
    text-justify: inter-word;
}

.para4 {
    font-size: larger;
    text-align: justify;
    text-justify: inter-word;
}

.aboutpagee {
    margin-top: 60px;
}